.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  background-color: white;
  width: 52px;
  z-index: 200;
  padding-top: 5px;
  padding-left: 1px;
}

.sidebar-link {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: lightgray;
}

.sidebar-link img {
  height: 22px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 7px;
  margin-top: 10px;
}