.thumbnail {
  width: 100%;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.video-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
}

.thumbnail-row {
  margin-bottom: 10px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 8px;
  color: rgb(96,96,96);
}
.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 20px;
  padding-top: 15px;
  padding-left: 90px;
}

@media (max-width: 700px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;;
  }
}

@media (min-width: 701px) and (max-width: 899px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 7px;
  font-weight: 450;

  background-color: black;
  color: white;

  position: absolute;
  bottom: 8px;
  right: 6px;
  padding: 3px;

  border-radius: 2px;
}