html, body {height: 100%;
} 
body {
    margin 0;
    background:  linear-gradient(45deg,rgb(0, 0, 0),rgb(5, 113, 253),rgb(212, 0, 255));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    font-size: 30px;
    color: aliceblue;
    
}   
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% { 
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;  
    }
}

