
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Bruno Ace', cursive;



list-style: none;
text-decoration: none;
scroll-behavior: smooth;
text-transform: uppercase;
}


body {  
  background-size: 100%;
  height: 100%;
  width: 100%;
  
}






header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #cc3f46;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8%;
  box-shadow: 0 10px 40px #000000;
  z-index: 1;


}
header .logo {
  font-family: ;
  position: fixed;
  padding-right: 80%;
  font-size: 100%;
  font-weight: bolder;
  color: #000;
}

  header nav ul {
    text-transform: uppercase;
    padding:20px 40px 50px %;
    
    
  }
  header nav ul li {
    position: relative;
    float:left;
    box-shadow: 0px 10px 60px #cc3f46;
    

  }
  
  header nav ul li a {
    padding: 25px;
    color: #000;
    font-size: 16px;
    display: block;
    font-family: "Orbitron" bold;
    
    
  }

  header nav ul li a:hover {
    background-color: #4d4d4d;
    color: #fff;
    box-shadow: 0px 20px 60px #4d4d4d;
    
    
  }
  
    header nav ul li ul {
      
      position: absolute;
      left: 0;
      width: 209px;
      background-color: #cc3f46; 
      display: none;
      
            
    }
    header nav ul li ul li {
      width: 100%;
      
      
    }
    header nav ul li ul li ul {
    left: 209px; 
    bottom: -138px; 
    border-bottom-right-radius: 40px; 
    border-bottom-left-radius: 0px;
    overflow: hidden
    ;
     
    }

    nav ul li:hover > ul {
      display: initial;
    }


    footer {
      font-family: "Orbitron" bold;
      position: static;
      bottom: 0;
      left: 0;
      right: 0;
      background: #cc3f46;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 8%;
      box-shadow: 0 -20px 40px #000;
      
    }

    section {
      width: 100%;
      height: 100%;
      box-shadow: 0px -110px 300px #cc3f46;
     }

    

    section div {
      
      
        padding-top: 38%;
        color: #fff;
        font-family: 'Bruno Ace', cursive;
        
        
    }
    
    section div h1 {
      font-size: 40px;
      z-index: 
    }





  






   
   

   #home {
    
    background-image: url(v2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
   
  }

  #technologies {
    background-image: url(v3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  #design{
    background-image: url(v1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  #about {
    
    background-image: url(v4.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
   }
  #kontakt{
    background-image: url(v5.jpg);
    background-position: center;
    background-size: cover; 
    height: 100vh;
    ;
  }



  spotify-player {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #333;
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
  }
  
  .spotify-player iframe {
    position: sticky;
  }