html {
  scroll-behavior: smooth; /*Плавный скрол*/
}


body {
height: 100%;
}


body {
background
}




/*Параметры секций-*/




section {
  color: #fff;
}

a {
transition: all 0s ease-out;
display: ;
}




/*Навигационное меню*/




nav {
display: flex;
justify-content: center;
z-index: 1;
}


nav ul {
display: ;
padding: 0px;
}


nav ul li {
transition: all 0.3s ease-in;
position: ;
}


nav ul li a {
transition: all .2s ease-out;
display:;
}


nav ul li:hover > a { 
display: ;
}


nav ul ul {
display: none;
position:;
}


nav ul ul li {
display: block;
}


nav ul ul li a {
display: block;
}


nav ul ul li:hover > a {

}


nav ul li:hover > ul {
display: block;
}


/*Параметры для каждой секции прописываются отдельно*/

#home {
    opacity: ;
    background-image: url(7.jpg);
    height: 700px;
  }


 #konzept {
  
   background-color: rgba(56, 56, 56, 0.493);
   height: 700px; 
   background-image: url(v1.jpg);   
  }
